@page "/Instructions"
@rendermode InteractiveServer 

<h3>Wyszukiwanie instrukcji</h3>

<SearchBarComponent OnSearch="SearchPart"/>

<br/>

<p>Numer części:</p>

<b>@currentPart.PartNumber</b>

@code{

    private Part currentPart = new();

    private void SearchPart(string partNumber)
    {
        currentPart.PartNumber = partNumber;
    }

}