
@if (string.IsNullOrWhiteSpace(PdfPath1))
{
    <p>Wybierz instrukcję do wyświetlenia.</p>
}
else
{
    <iframe src="@CurrentPart.SelectedPdfPath"
            width="100%"
            height="800px"
            style="border:none">
    </iframe>
}

@code {
    [Parameter]
    public string PdfPath1 { get; set; } = string.Empty;
    [Parameter]
    public Part CurrentPart { get; set; } = default!;
}